#root {
  margin: 0px;
  padding: 0px;
}

.centeredDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centeredDiv >h2{
  margin: 0;
}

.loadingMessage{
  height: 80vh;
  display: flex;
  align-items: center;
}

.tooltipStyles{
  font-size:30px;
  height:100%;
  color:black;
  font-weight:bold;
}